server:
    port: 8120

spring:
    application:
        name: history-service
    
    datasource:
        url: jdbc:h2:mem:historydb
        driverClassName: org.h2.Driver
        username: sa
        password:
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
         ddl-auto: update

    security:
     oauth2:
        resourceserver:
            jwt:
               issuer-uri: http://localhost:8081/realms/microservices

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka